button.btn {
  background-color: #9061f9;
  height: 40px;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0 1.25rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

button.btn:hover {
  box-shadow: 0 0 0 3px rgba(144, 97, 249, 0.251);
}
