.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper button {
  width: 100%;
  padding: 0.5rem 0.75rem;
  height: 2.5rem;
  background-color: #fff;
  border: 1px solid #d4d4d8;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 200ms ease-in-out;
  border-radius: 0.75rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-wrapper button span,
.select-wrapper button svg {
  font-size: 0.875rem;
  color: #d4d4d8;
}

.select-wrapper button span.highlight {
  color: #52525b;
}

.select-wrapper .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #e4e4e7;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.04),
    0px -6px 24px -3px rgba(0, 0, 0, 0.08);
  border-radius: 0.75rem;
  margin-top: 0.25rem;
  list-style-type: none;
  padding: 0;
  z-index: 100;
  opacity: 0;
  transform: scaleY(0);
  transition: all 200ms ease-in-out;
}

.select-wrapper .dropdown-opened {
  opacity: 1;
  transform: scaleY(1);
}

.select-wrapper .item {
  padding: 0.75rem;
  cursor: pointer;
  color: #71717a;
  font-weight: 600;
  font-size: 0.875rem;
  transition: all 200ms ease-in-out;
}

.select-wrapper .item:hover {
  background-color: #ececf7;
}

.select-wrapper .item-selected,
.item.item-selected:hover {
  background-color: #9061f9;
  color: #fff;
}
